body {
    background-color: blanchedalmond;
}

header{
    text-align: center;
}

.content {
    display: flex;
    justify-content: start;
}

.navigation {
    min-width: 300px;
    width: 300px;
}

.navigation li{
    list-style-type: none;
}

.navigation img {
    width: 80%;
    height: 40px;
}

.text img{
    display: flex;
    justify-content: center;
    width: 30%;
    margin: auto;
}

#top_link{
    float: right;
}

.section h2{
    color: seagreen;
}

.section_content {
    margin-left: 3rem;
}

.section_content .date {
    color: red;
}

/* .login {
    display: flex-;
    justify-content: center;
} */

