body {
    background-color: blanchedalmond;
}
header{
    text-align: center;
}


.content {
    display: flex;
    /* flex-flow: row wrap; */
    justify-content: space-between;
}

.text {
    margin-left: 5rem;
}
